body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.nav-container {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 20px;
}

.squares {
    width: 32px;
    height: 32px;
}
p {
    margin: 10px 10px 10px 10px;
}

.sign-in {
    margin: 10px 10px 10px 10px;
    color:blue;
}
.nav {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.right {
    justify-content: flex-end;
}

.main-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.logo {
    margin: 20px 20px 20px 20px;
}

.search-bar {
    border-radius:4px;
    width:
}

.button {
    margin:20px 20px 20px 20px;
    border-radius: 4px;
    background-color: #f2f2f2;
    height:3em;
    width:auto;
    border-color: #f2f2f2;
    box-shadow: none;
}

.footer-container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height:20px;
    flex:0;
}